
@font-face {
  src: url("fonts/TextMeOne-Regular.ttf");
  font-family:"Text Me One";
}
@font-face {
  src: url("fonts/AvenirNextLTPro-It.otf");
  font-family:"avenirnextltpro";
}
@font-face {
  src: url("fonts/OstrichSans-Black.otf");
  font-family:"ostrichsans";
}
@font-face {
  src: url("fonts/De Valencia (beta).otf");
  font-family:"devalencia";
}
@keyframes itemshow{
  from{
    opacity:0;
    transform: translateY(-20px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}
article:nth-child(1){
  animation : itemshow 0.5s;
  animation-delay : 0.1s;
  animation-fill-mode: backwards;
}
article:nth-child(2){
  animation : itemshow 0.5s;
  animation-delay : 0.2s;
  animation-fill-mode: backwards;
}
article:nth-child(3){
  animation : itemshow 0.5s;
  animation-delay : 0.3s;
  animation-fill-mode: backwards;
}
header{
  animation: itemshow 0.5s;
  animation-delay:0.4s;
  animation-fill-mode:backwards;
}

*{
  font-family:"avenirnextltpro";
  padding:0;
  margin:0;
  color:white;
}
body{
  height:100vh;
  background-repeat: no-repeat;
  background: linear-gradient(135deg, #fff 0%, #fff 50%, rgba(255,227,222,1) 50%, rgba(255,227,222,1) 100%);
}
#wrapper {
  text-align: center;
  justify-items: center;
}
#title{
  font-family:"Text Me One";
  font-size:4em;
  color:#363636;
}
main{
  position:relative;
  display:flex;
}

main > aside{
  position:fixed;
  background:linear-gradient(180deg, #000 0%, #000 7%, #363636 7%, #363636 100%);
  color: white;
  text-align: center;
  font-size :1.2em;
  font-weight:800;
  width:300px;
  height:100vh;
  right:100%;
  top:0;
  transition:0.35s;
  z-index: 2;
}

#menu_button{
  position: fixed;
  background: rgba(0,0,0,0.5);
  border-radius:0 15px 15px 0;
  text-align:center;
  padding-bottom:5px;
  color:rgba(255,255,255,0.5);
  top:50%;
  width: 20px;
  height: 30px;
  z-index: 1;
  transition:0.35s;
}
#menu_button:hover + aside, aside:hover {
  right:calc(100% - 300px);
}
a{
  text-decoration: none;
  color:white;
}

footer{
  background:#0a043c;
  position: fixed;
  left:0;
  bottom:0;
  width:100vw;
  text-align:right;
  font-size:0.7em;
  color: black;
}
#footer{
    padding-right:20px;
}
.container{
  display:flex;
  position:absolute;
  width:100vw;
  align-items:center;
  justify-content: space-around;
  flex-direction: row;
  top: 400px;
  left:50%;
  transform: translate(-50%, -50%);
}
.item{
  width:400px;
  height:550px;
  position: relative;
  background:#a3ddcb;
  text-align:center;
  align-items:center;
  color:white;
  transition: all .35s;
}

.item:hover {
  transform:scale(1.1);
  z-index : 3;
  box-shadow:0px 0px 20px 0px #363636;
}

.frame {
  background : #fdfdfd;
  position : relative;
  width : 90%;
  height: 80%;
  left:50%;
  top:40%;
  border-radius: 5px;
  transform : translate(-50%,-50%)
}
.rectangle{
  background: white;
  border:10px solid black;
  border-radius: 5px 5px 0 0;
}
.rectangle:before{
  position:absolute;  
  font-family:"Text Me One";
  font-size:0.8em;
  content: '⬜ P A T H E A D';
  transform : translate(-180px,-10px);
}
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
label {
    display: block;
    margin-bottom: 10px;
}
#chatting{
    display:flex;
    flex-direction : column-reverse;
    height:100%;
    width:100%;
}
#modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:rgb(0,0,0,0.5);
    transition: display .4s ease-in-out;
}
#modal_frame{
    display:inherit;
    position:absolute;
    width:1200px;
    height:750px;
    background:transparent;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:5px solid black;
    border-top : 30px solid black;
    border-radius : 5px;
    box-shadow: 8px 8px 10px #363636;
}
#modal_frame:before{
  position:inherit;
  font-family:"Text Me One";
  background:black;
  transform : translate(0px,-25px);
  content: '⬜ P A T H E A D';
}
#modal_content{
    display:inherit;
    position:absolute;
    width:inherit;
    height:inherit;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color : black;
    background:#fff;
}
#modal_content>*{
    color : black;
}
#modal_button{
    display:inherit;
    position:absolute;
    width:50px;
    height:50px;
    background:transparent;
    top:50%;
    left:50%;
    cursor:pointer;
    transform: translate(calc(-50% + 600px),calc(-50% - 365px));
}
@media screen and (max-width: 1200px) {
    .container{
        display:flex;
        position:relative;
        width:100vw;
        flex-direction: column;
        left: 50%;
        top : 1000px;
    }
    .item{
        margin-bottom:50px;
    }
    body{
        height:2000px;
        background-repeat: no-repeat;
        background: linear-gradient(135deg, #fff 0%, #fff 50%, rgba(255,227,222,1) 50%, rgba(255,227,222,1) 100%);
    }
    #modal_frame{
        display:inherit;
        position:absolute;
        width:320px;
        height:480px;
        background:transparent;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        border:5px solid black;
        border-top : 30px solid black;
        border-radius : 5px;
        box-shadow: 8px 8px 10px #363636;
    }
    #modal_button{
        display:inherit;
        position:absolute;
        width:50px;
        height:50px;
        background:transparent;
        top:50%;
        left:50%;
        cursor:pointer;
        transform: translate(calc(-50% + 165px),calc(-50% - 230px));
    }
}