*{
  font-family:sans-serif;
  padding:0;
  margin:0;
}
wrapper {
  background:#e2e2e2;
}
header {
  border-top:5px solid black;
  border-bottom:5px solid black;
  border-left:5px solid #444444;
  border-right:5px solid #444444;
}
