@font-face {
    src : url('De Valencia (beta).otf');
    font-family: 'devalencia';
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    src : url('ostrich-regular.ttf');
    font-family: 'ostrich';
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    src : url('parley regular.ttf');
    font-family: 'parley';
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face{
    src: url('TextMeOne-Regular.ttf');
    font-family : "textmeone";
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face{
    src: url('OstrichSansDashed.otf');
    font-family:'ostrichsans';
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

*{
    margin : 0;
    padding : 0;
    color : black;
    text-decoration : none;
    font-family:'textmeone';
}
li { color :white; font-size : 1.04em;}
ul { list-style: none;}
.menu{color:white;}
.hidden{display : none;}

@keyframes init1{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}



body{
    height:100vh;
    width:100vw;
    background-repeat: no-repeat;
    background: linear-gradient(135deg, #fff 0%, #fff 50%, #1e212d 50%, #1e212d 100%);
}



header{
    position :absolute;
    text-align : center;
    font-size : 1.5em;
    display : block;
    width : 100vw;
    right: 50%;
    transform : translate(50%,0);
    z-index : 1;
}
#time {
    display: block;
    position: absolute;
    width : auto;
    height : auto;
    top : 0;
    right : 0;
    color : grey;
    font-size : 0.5em;
}
#login{
    display: block;
    position: absolute;
    width : auto;
    height : auto;
    top : 10px;
    right : 0;
    color : white;
    font-size : 1em;
}
#login:hover{
    cursor: pointer;
}



main {
    position: relative;
    height : 100vh;
    width : 100vw;
}
#window {
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    position : relative;
    border-radius : 20px;
    background :white;
    box-shadow : black 0px 0px 20px;
    width : 80vw;
    height : 80vh;
    animation : init1 1s;
}
form#write{
    display:flex;
}
.form_title{
    width : 100px;
    height : 100%;
}
.form_contents{
    width : 100%;
    height : 100%;
}
#title {
    font-size : 1.6em;
    font-weight :900;
}
.description {
    font-family:'ostrichsans';
}
#path {
    font-size : 1.5em;
}
#description{
    font-size: 1.2em;
    height : 45vh;
    width : 100%;
}
input{
    border: 1px solid grey;
    width:100%;
    height:30px;
}
#write_button{
    position : absolute;
    width : 90px;
    height:35px;
    text-align :center;
    border-radius : 20px 0 20px 0 ;
    font-size : 1.4em;
    display : block;
    background: #000E61;
    color : white;
    bottom:0;
    right :0;
}
.title{
    margin-bottom : 20px;
    font-size : 2em;
    color: black;
}
.time{
    font-size:0.5em;
    color : grey;
}
#ui{
    position :absolute;
    display : flex;
    right : 10px;
    top : 10px;
}
#ui>a>span{
    border : 2px solid grey;
    border-radius : 2px;
    background : #1e212d;
    font-size:1em;
    text-decoration: dashed;
    color : white;
}

nav {
    text-decoration: block;
    width : 100%;
    height : 25px;
    text-align : center;
    border-radius : 20px 20px 0 0;
    background : linear-gradient(#363636 25px, rgba(0,0,0,0.5) 25px);
    overflow : hidden;
    transition : height 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav:hover {height : 140px; cursor:default;}
.list {
    display :grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.list > li {
    width : calc(inherit/4);
    height : 25px;
    vertical-align: middle;
}
.list > li:first-child {border-radius : 20px 0 0 0;}
.list > li:last-child{border-radius : 0 20px 0 0;}
.contents > li{cursor:pointer;}

article {
    position : absolute;
    display : block;
    right : 2.5%;
    left : 2.5%;
    width : 95%;
}


aside{
    position : absolute;
    text-align : center;
    font-size : 1.2em;
    display : block;
    height : 100vh;
    width : 300px;
    z-index : 1;
    background : rgba(0,0,0,0.5);
    color : white;
    left : -300px;
    transition : all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#aside_button{
    position :absolute;
    text-align: center;
    font-weight: 900;
    display:block;
    width : 30px;
    height : 35px;
    left : 100%;
    top : 50%;
    padding-top :3px;
    background : rgba(0,0,0,0.5);
    border-radius : 0 15px 15px 0;
}
#aside_button:hover, aside:hover {
    left : 0px;
}



footer{
    position : absolute;
    text-align: right;
    width : 100vw;
    height : auto;
    bottom : 0;
    background : #363636;
    color : white;
    font-size : 1em;
}
footer > h2{
    font-size:1em;
}




#modal {
    display : none;
    position : absolute;
    opacity : 0;
    background : rgba(0,0,0,0.5);
    width : 100vw;
    height : 100vh;
    top:0;
    left:0;
    transition : all 0.35s;
    z-index:1;
}
#modal:hover{opacity : 100;}
#modal_window {
    position :absolute;
    background : white;
    width : 0px;
    height :600px;
    transform : translate(-50%, -50%);
    top  : 50%;
    left : 50%;
    border-radius : 5px;
    text-align :center;
    transition: all 0.35s;
}
#modal:hover > #modal_window{width : 480px;}
#close{
    position : absolute;
    top : 0;
    right : 0;
    width : auto;
    height : auto;
}
#close:hover {
    cursor : pointer;
}
#modal_window > p {
    color: black;
}
